@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans KR";
  height: 100vh;
  background: #eae4e4;
  overflow: hidden;
}
body .wrap {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
}
body .wrap .header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrap .header > h1 {
  font-size: 60px;
}
body .wrap .inner {
  display: flex;
  width: 100%;
  height: 100%;
}
body .wrap .inner .left {
  height: 85%;
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  border-radius: 10px;
  margin-right: 20px;
}
body .wrap .inner .left .photo {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 60%;
  flex-direction: column;
}
body .wrap .inner .left .photo .pics {
  width: 100%;
  margin-top: 40px;
  height: 65%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrap .inner .left .photo .txt {
  width: 100%;
  height: 35%;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .wrap .inner .left .photo .txt h1 {
  font: bold 30px/1 "IBM Plex Sans KR";
  text-align: center;
  margin-bottom: 2vh;
}
body .wrap .inner .left .photo .txt h2 {
  font-size: 18px;
  color: red;
  font-weight: normal;
  margin-bottom: 2vh;
}
body .wrap .inner .left .photo .txt p {
  font: normal 15px/1;
}
body .wrap .inner .left .info {
  width: 80%;
  display: flex;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background: #e2b7b7;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
body .wrap .inner .left .info .text {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrap .inner .left .info .text p {
  font-weight: bold;
  display: inline-block;
  width: 80%;
}
body .wrap .inner .left .info .jss {
  width: 100%;
  height: 30%;
  border-radius: 10px;
}
body .wrap .inner .left .info .jss .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body .wrap .inner .left .info .jss .box a {
  width: 95%;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
body .wrap .inner .left .info .jss .box a:hover {
  background: red;
}
body .wrap .inner .right {
  height: 85%;
  width: 70%;
  display: flex;
  margin-right: 20px;
}
body .wrap .inner .right .up {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
body .wrap .inner .right .up .one {
  border: 1px solid black;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
}
body .wrap .inner .right .up .one > h1 {
  text-align: center;
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 10px;
}
body .wrap .inner .right .up .one a {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  height: 20%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .inner .right .up .one a:hover {
  cursor: pointer;
  background: #e2b7b7;
}
body .wrap .inner .right .up .two {
  height: 35vh;
  width: 100%;
  margin-bottom: 3%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
body .wrap .inner .right .up .two > h1 {
  text-align: center;
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 30px;
}
body .wrap .inner .right .up .two a {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  height: 20%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
body .wrap .inner .right .up .two a:hover {
  cursor: pointer;
  background: #e2b7b7;
}
body .wrap .inner .right .up .three {
  height: 30vh;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
}
body .wrap .inner .right .up .three > h1 {
  text-align: center;
  padding-top: 2vh;
}
body .wrap .inner .right .down {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body .wrap .inner .right .down .four {
  border: 1px solid black;
  height: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2.5vh;
}
body .wrap .inner .right .down .four > h1 {
  padding-top: 2vh;
  width: 100%;
  text-align: center;
}
body .wrap .inner .right .down .four a {
  padding: 20px;
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .wrap .inner .right .down .four a:hover {
  cursor: pointer;
  background: #e2b7b7;
}
body .wrap .inner .right .down .five {
  border: 1px solid black;
  height: 35%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2.5vh;
}
body .wrap .inner .right .down .five > h1 {
  text-align: center;
  width: 100%;
  padding-top: 2vh;
}
body .wrap .inner .right .down .five a {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .inner .right .down .five a:hover {
  cursor: pointer;
  background: #e2b7b7;
}
body .wrap .inner .right .down .six {
  border: 1px solid black;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
body .wrap .inner .right .down .six > h1 {
  text-align: center;
  padding-top: 2vh;
  width: 100%;
}
body .wrap .inner .right .down .six a {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrap .inner .right .down .six a:hover {
  cursor: pointer;
  background: #e2b7b7;
}

/*# sourceMappingURL=style.css.map */
