@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&family=Lato:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	// box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	font-family: 'IBM Plex Sans KR';
	height: 100vh;
	background: #eae4e4;
	overflow: hidden;
	.wrap {
		width: 1180px;
		margin: 0 auto;
		height: 100%;
		.header {
			height: 10%;
			display: flex;
			justify-content: center;
			align-items: center;
			> h1 {
				font-size: 60px;
			}
		}
		.inner {
			display: flex;
			width: 100%;
			height: 100%;
			.left {
				height: 85%;
				width: 30%;
				display: flex;
				flex-direction: column;
				border: 1px solid brown;
				border-radius: 10px;
				margin-right: 20px;
				.photo {
					width: 80%;
					display: flex;
					margin: 0 auto;
					justify-content: center;
					align-items: center;
					height: 60%;

					flex-direction: column;
					.pics {
						width: 100%;
						margin-top: 40px;
						height: 65%;
						background: #fff;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.txt {
						width: 100%;
						height: 35%;
						padding: 2vh;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						h1 {
							font: bold 30px/1 'IBM Plex Sans KR';
							text-align: center;
							margin-bottom: 2vh;
						}
						h2 {
							font-size: 18px;
							color: red;
							font-weight: normal;
							margin-bottom: 2vh;
						}
						p {
							font: normal 15px/1;
						}
					}
				}
				.info {
					width: 80%;
					display: flex;
					border-radius: 10px;
					margin: 0 auto;
					justify-content: center;
					align-items: center;
					height: 35vh;
					// border: 1px solid red;
					background: #e2b7b7;
					margin-bottom: 5vh;
					display: flex;
					flex-direction: column;

					.text {
						width: 100%;
						height: 70%;
						border-radius: 10px;
						border: 1px solid black;
					}
					.jss {
						width: 100%;
						height: 30%;

						border-radius: 10px;
						.box {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 100%;
							a {
								width: 95%;
								height: 30px;
								border: 1px solid black;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 10px;
								&:hover {
									background: red;
								}
							}
						}
					}
				}
			}
			.right {
				height: 85%;

				width: 70%;
				display: flex;
				margin-right: 20px;

				.up {
					width: 49%;
					height: 100%;

					display: flex;
					flex-direction: column;
					margin-right: 2%;

					.one {
						> h1 {
							text-align: center;
							padding-top: 2vh;
							width: 100%;
							margin-bottom: 10px;
						}
						border: 1px solid black;
						height: 30vh;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						width: 100%;
						margin-bottom: 15px;
						a {
							width: 80%;
							border: 1px solid black;
							margin: 0 auto;
							border-radius: 10px;
							height: calc(100% / 5);
							margin-bottom: 10px;
							display: flex;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;

								background: #e2b7b7;
							}
						}
					}
					.two {
						> h1 {
							text-align: center;
							padding-top: 2vh;
							width: 100%;
							margin-bottom: 30px;
						}
						height: 35vh;
						width: 100%;
						margin-bottom: 3%;
						border: 1px solid black;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						a {
							width: 80%;
							border: 1px solid black;
							margin: 0 auto;
							border-radius: 10px;
							height: calc(100% / 5);
							display: flex;
							margin-bottom: 10px;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;

								background: #e2b7b7;
							}
						}
					}
					.three {
						> h1 {
							text-align: center;
							padding-top: 2vh;
						}
						height: 30vh;
						border: 1px solid black;
						width: 100%;
						border-radius: 10px;
					}
				}
				.down {
					width: 49%;
					height: 100%;

					display: flex;
					flex-direction: column;
					.four {
						> h1 {
							padding-top: 2vh;
							width: 100%;

							text-align: center;
						}
						a {
							padding: 20px;
							width: 80%;
							border: 1px solid black;
							margin: 0 auto;
							border-radius: 10px;
							height: 50px;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;

								background: #e2b7b7;
							}
						}
						border: 1px solid black;
						height: 40%;
						border-radius: 10px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						width: 100%;
						margin-bottom: calc(5vh / 2);
					}
					.five {
						> h1 {
							text-align: center;
							width: 100%;
							padding-top: 2vh;
						}
						border: 1px solid black;
						height: 35%;
						border-radius: 10px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						width: 100%;
						margin-bottom: calc(5vh / 2);

						a {
							width: 90%;
							border: 1px solid black;
							margin: 0 auto;
							border-radius: 10px;
							height: 90px;
							display: flex;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;

								background: #e2b7b7;
							}
						}
					}

					.six {
						> h1 {
							text-align: center;
							padding-top: 2vh;
							width: 100%;
						}
						border: 1px solid black;
						height: 30%;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						justify-content: space-evenly;
						a {
							width: 80%;
							border: 1px solid black;
							margin: 0 auto;
							border-radius: 10px;
							height: 80px;
							display: flex;
							align-items: center;
							justify-content: center;
							&:hover {
								cursor: pointer;

								background: #e2b7b7;
							}
						}
						width: 100%;
					}
				}
			}
		}
	}
}
